.flex{
display: flex;
flex-direction: row;
justify-content: space-between;
}
@media (max-width: 550px){

    .flex{

        display: flex;
flex-direction: column;
justify-content: space-between;
    }

}
    
